################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureTutorials/.vs/AzureTutorials/v16/Server/sqlite3/storage.ide-wal
